/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.add-form {
  margin-bottom: 40px;
  background-color: white;
}

 .form-controls {
  margin: 15px 0;
  background-color: white;
} 
.form-controls label {
  display: block;
  background-color: white;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  background-color: white;
} 
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.button {
  color: black;
  background-color: #8AC6D1;
  display: inline-block;
  border:1px solid black;
  width: 470px;
  padding: 20px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-family: inherit;

} 
.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.98);
}

.button-block {
  display: block;
  width: 100%;
}
.button-round {
  background-color: #FFF4E0;
  color: #8AC6D1;
  border: 3px solid #8AC6D1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  font-family: inherit;
  padding: 10px; 
}

.button-round::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid black;
  padding: 30px;
  border-radius: 40px;
  background-color: white;
}

.containerCloud {
  background-image:'./cloud.png';
  background-position:center;
  width:700px;
  height:400px;
}

.center {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 100px;
  border: none;
  border-radius: 40px;
}

.containerBox {
  position: relative;
  display: inline-block;
  width: 100%;
}

.text-box{
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  color: #87CEFA;
  /* position: absolute; */
  text-align: center;
}

h6 {
  text-align: center;
  /* position: absolute; */
}

h5 {
  text-align: center;
  color:#8AC6D1 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: #FFF4E0;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu a.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}
.navbar-button {
  color: black;
  background: #8AC6D1;
  display: inline-flex;
  border:1px solid black;
  padding: 20px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-family: inherit;
  justify-content: flex-end;
  text-align: right;
}
.flex-end {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: white;
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

img{
  border-radius: 8px;
  width: 480px;
  height: 160px;

}

/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */